body {
  height: 100vh;
  width: 100%;
  margin: 0;
  position: relative;
}

.kitty-background {
  width: 100%;
  height: 100%;
  background-image: url(kitten-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.form-container {
  width: 50%;
  background-color: black;
}
.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 70%;
  border-radius: 5%;
  padding: 12px;
}

p {
  font-size: 20px;
  margin: 0;
  padding: 0
}
button {
  padding: 0;

}
h1 {
  font-size: 4.5vw;
  /* padding:  */
}

select {
  width: 100%;
}


@media screen and (min-width: 768px) {
  body {
    display: flex;
    flex-direction: row;
  }
  h1 {
    font-size: 100%;
    padding-left: 3%;
  }

  p {
    font-size: 16px;
  }

  .form {
    position: static;
    transform: none;
    width: 100%;
    height: auto;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.input-field {
  font-size: 30px;
  /* padding-bottom: */
}


button {
  padding: 8px;
  font-size: 20px;
  /* margin-top: 8px;
  margin-bottom: 8px; */
  margin: 8px 0;

}
input[type=text] {
  width: 100%;
}
/* .parent {
  width: 100%;
  height: 300px;
  background-color: dodgerblue;
  position: relative;
}

.child {
  position: absolute;
  left: 50%;
  bottom: 50%;
} */



